<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rendered Template</title>
</head>
<body>
    <h1>INDEX PAGE</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolores, est corrupti velit et corporis. Delectus voluptate doloremque alias veritatis, placeat labore atque eius exercitationem porro expedita? A, sint asperiores.</p>
    <img src="static/leiden.png" alt="leiden">
</body>
</html>